body{
	background-color: #DDDDDD;
}
.relleno{
	height: 55px;
}
.breadcrumb{
	margin: 20px 0;
}
.jumbotron{
	background-color: #1B1B1B;
	text-align: center;
	margin-bottom: 20px;
}
.destacado{
	background-color: #76b900;
	padding: 20px;
	margin-bottom: 20px;
	font-size: 2em;
	color: white;
}
.green{
	color: #76b900;
}
h1{
	color: white;
}
h2, h3{
	text-align: center;
}
h2{
	margin-bottom: 30px;
}
.titulo{
	background-color: #1B1B1B;
	margin-bottom:20px;
	padding: 20px;
	font-size: 2.5em;
	font-weight: 500;
	color: white;
	text-align: center;
}
.banner{
	background-color: white;
}
.banner img{
	display: block;
	margin: 15px auto;
}
.card_producto{
	flex: 1 200px;
	background-color: #F0F0F0;
	margin: 5px;
}
.card_producto .btn{
	background-color: #76b900;
	border: none;
	font-weight: bold;
	width: 100%;
}
footer{
	background-color: #343434;
	color: white;
	margin-top: 20px;
	padding: 5px;
}
footer a{
	color: #76b900; 
}
address{
	margin: 0;
}
.row{
	margin: 0;
}
label{
	font-weight: bold;
}
.enviar{
	width: 200px;
	background-color: #76b900;
	border: none;
	font-weight: bold;
}
table{
	min-width: 1100px;
}